.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f188+5,f9c61b+97 */
background: #f7f188; /* Old browsers */
background: -moz-linear-gradient(top, #f7f188 5%, #f9c61b 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f7f188 5%,#f9c61b 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f7f188 5%,#f9c61b 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f188', endColorstr='#f9c61b',GradientType=0 ); /* IE6-9 */
z-index: 100000;
}
.logoSvg{
    margin: auto;
    width: 16%;
    position: relative;
    top: 25vh;
    z-index: 5;
}
svg{
    width: 100%;
}
.catCycling{
    position: relative;
    top: 30vh;
    left: 45vw;
    width: 20%;
    z-index: 500;
}
.loadingCloud img{
    width: 100%;

}

.loadingCloud{
    position: relative;
    top: 7%;
    left: 40%;
    z-index: 0;
    width: 20%;

    /*transform: translate(0% 0%);*/
    /*animation: cloudMov 5s linear infinite;*/
    transition: 2s;
}
.loadingTxt{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    top: 32%;
}
@keyframes cloudMov{
    from{
        /*transform: translate(0% 0%);*/
        top: 0%;
        left: 0%;
        }to{
        /*transform: translate(200% 200%);*/
        top: 100%;
        left: 100%;
        }
}
/*.loading img{
 top:50%;
    right: 50%;
 position: absolute;
    animation: vroomvroom 0.4s linear infinite;
    -webkit-animation: vroomvroom 6s linear infinite;
    -moz-animation: vroomvroom 6s linear infinite;
    -ms-animation: vroomvroom 6s linear infinite;
    -o-animation: vroomvroom 6s linear infinite;

}

@keyframes vroomvroom {
    from {
        right: -50px;
    }
    to {
        right: calc(100vw + 30px);
    }
}
@-webkit-keyframes vroomvroom {
    from {
        right: -50px;
    }
    to {
        right: calc(100vw + 30px);
    }
}
@-moz-keyframes vroomvroom {
    from {
        right: -50px;
    }
    to {
        right: calc(100vw + 30px);
    }
}
@-ms-keyframes vroomvroom {
    from {
        right: -50px;
    }
    to {
        right: calc(100vw + 30px);
    }
}*/
@media screen and (max-width: 414px){
.logoSvg{
    margin: auto;
    width: 70%;
    position: relative;
    top: 25vh;
    z-index: 5;
    }
.catCycling{
    position: relative;
    top: 30vh;
    left: 25vw;
    width: 20%;
    z-index: 500;
}
.loadingCloud{
    position: relative;
    top: 7%;
    left: 16%;
    z-index: 0;
    width: 70%;

    /*transform: translate(0% 0%);*/
    /*animation: cloudMov 5s linear infinite;*/
    transition: 2s;
}

}